@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --home: #48dbfb;
  --lightblue: #dde1ebda;
  --grey: #e5ebf0;
  --primaryBrown: #8d1629;
  --primaryGrey: #5f6064;
  --green: #7bed9f;
}

html {
  scroll-behavior: smooth;
}

/* NAVIGATION STYLE */

/* before scroll */
#navbar {
  transition: background-color 0.3s ease;
}

.fa-bars {
  color: white;
  font-size: 25px !important;
  padding-right: 4px !important;
}

#navbar .nav-link {
  color: white !important;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s ease;
  transition: background-color 0.4s ease;
}

.nav-item:hover .nav-link {
  color: black !important;
  background-color: rgba(255, 255, 255, 0.664) !important;
}
#navbar .contact-buttons button {
  color: white;
  border: none;
  font-size: 30px;
  /* border: 2.4px solid white; */
  border-radius: 50%;
  transition: 0.4s;
}

#navbar .contact-buttons button:hover {
  color: orange;
  border: none;
}

/* #navbar .contact-buttons button:hover .fa {
  color: black;
} */

#scrolledlogo {
  display: none;
}

#home {
  background-image: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.719)
    ),
    url(images/home-background.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  background-repeat: no-repeat;
  text-align: center;
  transition: background-image 1s ease-in-out;
}

#home > div {
  position: relative;
  animation-name: home;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#home .h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 2;
  color: orange;
  animation: 2s anim-lineUp ease-in;
  padding: 7px 0;
}

#home .h2 {
  font-weight: 500;
  font-size: 33px;
  line-height: 2;
  color: white;
}
#home .h3 {
  color: white;

  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  opacity: 0.9;
  padding: 7px 0;
  animation: 3.3s anim-lineUp ease-in;
}

#home .btn {
  border: 1px solid white;
  color: white;
}

#home .btn:hover {
  border: 1px solid transparent;
  color: white;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* products SECTION STYLE*/
#products {
  background-color: #f6e58d;
}

#products h1 {
  text-align: center;
  font-weight: 700;
  color: var(--darkBlue);
  padding-bottom: 10px;
}

#products h4 {
  text-align: center;
  font-weight: 400;
  color: var(--darkBlue);
  padding-bottom: 30px;
}

#products .card {
  box-shadow: 0 8px 13px -8px black;
}

.image-container {
  overflow: hidden;
  position: relative;
}
.card-img-top {
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

#products .card:hover .card-img-top {
  transform: scale(1.2);
}
#products .card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.message {
  padding: 20px 0;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
}

#aboutus {
  background-color: #f1f2f6;
}
.heading div p {
  text-align: center !important;
  font-size: 35px;
  color: var(--primaryGrey);
  font-weight: 600;
}

.heading > p {
  font-size: 20px;
  text-align: justify;
}

/* CONTACT SECTION STYLE*/
#contact > p {
  text-align: center !important;
  font-size: 35px;
  color: var(--primaryGrey);
  font-weight: 600;
}

#contact a {
  text-decoration: none;
  color: black;
}

#contact #info .name {
  font-size: 30px;
  color: var(--primaryBrown);
  font-weight: 500;
}

#contact .contact-icons {
  padding-right: 12px;
}
#contact img {
  margin-right: 12px;
}

#contact strong {
  font-size: 20px;
}
/* FOOTER STYLE */
footer {
  background-color: #57606f;
  color: white;
}

@media only screen and (max-width: 860px) {
  #navbar .contact-buttons {
    display: none !important;
  }
}

/* FOR MOBILE DEVICES */
@media only screen and (max-width: 576px) {
  #home .h1 {
    font-size: 28px;
  }

  #home .h2 {
    font-size: 26px;
  }
  #home .h3 {
    font-size: 20px;
  }

  #home {
    padding: 25px !important;
  }
  nav {
    padding: 0px !important;
  }
  .navbar-toggler {
    padding: 0px !important;
  }
  #homecontent {
    padding: 0px !important;
  }
  .about div p {
    font-size: 26px !important;
  }

  #aboutus {
    padding: 10px !important;
  }

  #products {
    margin: 0;
    padding: 40px 5px !important;
  }

  .card {
    margin: 0 !important;
  }

  .card-img-top {
    height: 195px;
  }

  #production,
  #brands,
  #contact {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .heading > p,
  .message {
    font-size: 17.5px !important;
  }

  #contact #info .name {
    font-size: 24px;
    font-weight: 500;
  }

  iframe {
    height: 300px;
  }

  strong {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
}
